/node_modules
/public/hot
/public/storage
/public/fonts
/public/mix-manifest.json
/storage/*.key
/storage
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!public/uploads/opd_timelines
.idea/
/vendor
/node_modules

